.signup {
  max-width: 30%;
  height: calc(100vh - 20px);
  margin-left: auto;
  margin-right: auto;
}

.signup h1 {
  text-align: center;
}

.signup h1 span {
  color: #219ebc;
}

.signup-form {
  margin-top: 20px;
}

.signup input {
  border-width: 0 0 1px 0;
  border-radius: 0%;
}

.signup input:focus {
  box-shadow: none;
}

.signup button {
  width: 100%;
  background: #219ebc;
  color: #fff;
  border: none;
  transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.signup button:hover {
  background: #023047;
}

.signup button:hover span {
  color: #fff;
}

.input::placeholder {
  color: #ccc;
}

.forgot {
  margin-top: 20px;
}

.forgot a {
  color: #888;
}

.forgot a span {
  color: #219ebc;
}

.forgot ul {
  list-style: none;
}

.forgot ul li {
  line-height: 1.3em;
}

.forgot ul li::before {
  content: "\2022";
  color: #219ebc;
  font-weight: bold;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space */
  margin-left: -1em; /* Also needed for space */
}

.signup-socials {
  text-align: center;
  margin-top: 20px;
}

.divider {
  min-width: unset;
  width: 45%;
}
.divider-text {
  align-self: center;
}
.divider-text span {
  word-break: normal;
  color: #219ebc;
}

@media screen and (max-width: 1400px) {
  .signup {
    max-width: 40%;
  }
}

@media screen and (max-width: 992px) {
  .signup {
    max-width: 60%;
  }

  .signup h1 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 768px) {
  .signup {
    max-width: 80%;
  }

  .signup h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 576px) {
  .signup {
    justify-content: start;
    margin-top: 80px;
  }

  .signup h1 {
    font-size: 1.8em;
  }
}
