.signup,
.login,
.forgot,
.code,
.success {
  max-width: 30%;
  height: calc(100vh - 20px);
  margin-left: auto;
  margin-right: auto;
}

.signup h1,
.login h1,
.forgot h4 {
  text-align: center;
}

.signup h1 span,
.login h1 span,
.forgot h4 span,
.success h4 span {
  color: #219ebc;
}

.signup-form,
.login-form,
.forgot-form,
.code-form,
.success-form {
  margin-top: 20px;
}

.signup input,
.login input,
.forgot input,
.code input,
.success input {
  border-width: 0 0 1px 0;
  border-radius: 0%;
}

.signup input:focus,
.login input:focus,
.forgot input:focus,
.code input:focus,
.success input:focus {
  box-shadow: none;
}

.signup button,
.login button,
.forgot button,
.code button,
.success button {
  width: 100%;
  background: #219ebc;
  color: #fff;
  border: none;
  transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.signup button:hover,
.login button:hover,
.forgot button:hover,
.code button:hover,
.success button:hover {
  background: #023047;
}

.signup button:hover span,
.login button:hover span,
.forgot button:hover span,
.code button:hover span,
.success button:hover span {
  color: #fff;
}

.input::placeholder {
  color: #ccc;
}

.signup .bottom-links {
  text-align: center;
}

.forgot .bottom-links a {
  color: #219ebc;
}

.bottom-links {
  margin-top: 20px;
}

.bottom-links a {
  color: #888;
}

.bottom-links a span {
  color: #219ebc;
}

.bottom-links ul {
  list-style: none;
}

.bottom-links ul li {
  line-height: 1.3em;
}

.bottom-links ul li::before {
  content: "\2022";
  color: #219ebc;
  font-weight: bold;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space */
  margin-left: -1em; /* Also needed for space */
}

.forgot .bottom-links a span {
  color: #fff;
}

.socials {
  text-align: center;
  margin-top: 20px;
}

.divider {
  min-width: unset;
  width: 45%;
}
.divider-text {
  align-self: center;
}
.divider-text span {
  word-break: normal;
  color: #219ebc;
}

@media screen and (max-width: 1400px) {
  .signup,
  .login {
    max-width: 40%;
  }
}

@media screen and (max-width: 992px) {
  .signup,
  .login {
    max-width: 60%;
  }

  .signup h1,
  .login h1 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 768px) {
  .signup,
  .login {
    max-width: 80%;
  }

  .signup h1,
  .login h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 576px) {
  .signup,
  .login {
    justify-content: start;
    margin-top: 80px;
  }

  .signup h1,
  .login h1 {
    font-size: 1.8em;
  }
}
